{% extends 'quotes/base.html' %}
{% block albums_active %}active{% endblock %}
{% block body %}
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% for quote in quote_list %}
            <div class="post">
                <div class="date">
                    <p>Created Date: {{ quote.created_date }}</p>
                </div>
                <p>{{ quote.quote_text|linebreaksbr }}</p>
                <a href="{% url 'quotes:quote_detail' pk=quote.pk %}">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp; Edit
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
